.reveal.bj-theme {
  h1, h2, h3, h4, h5, h6 {
    text-transform: unset;
  }

  section {
    height: 100%;
    display: table;

    img {
      border: none;
      background: none;
      box-shadow: none;
    }

    pre {
      code {
        max-height: 700px;
        font-size: 120%;
        line-height: 120%;
      }

      &.left-code,
      &.right-code {
        width: calc(50% - 10px);
      }

      &.left-code {
        float: left;
        margin-right: 10px;
      }

      &.right-code {
        float: right;
        margin-left: 10px;
      }
    }

    li {
      margin-bottom: 15px;

      ul {
        margin-top: 15px;

        li {
          font-size: 2rem;
        }
      }
    }

    .imp {
      font-size: 130%;
      display:flex;
      justify-content:center;
      align-items:center;
      height:100%;
    }

    .light {
      font-size: 65%;
    }
  }
}
