.reveal.bj-theme {
  h1, h2, h3, h4, h5, h6 {
    text-transform: unset;
  }

  section {
    height: 100%;
    display: table;

    img {
      border: none;
    }

    pre code {
      max-height: 700px;
    }

    li {
      margin-bottom: 15px;

      ul li {
        font-size: 2rem;
      }
    }

    .imp {
      font-size: 130%;
      display:flex;
      justify-content:center;
      align-items:center;
      height:100%;
    }
  }
}
